:root {

	/*					COLORS				 */

	/*				HEADER					 */
	--header-background: #222240; /* b5b5b5 */
	--header-background-hover: #4e4e62; /* dbd1d1 */
	--header-a: #ececff; /* 05008c */
	--header-a-hover: #ffbad0; /* 006eff */
	--header-deblogo-background: #b5b5b5;
	--header-border-right: #9e9e9e; /* 666666 */
	--header-border-bottom: #eb0000; /* 666666 */

	/* DARK MODE BUTTON */
	--darkmode-background: #000000;
	--darkmode-fill: #ffff75;
}

.darkmode {

	/*					COLORS				 */
	/*				HEADER					 */
	--header-background: #222240;/* b5b5b5 */
	--header-background-hover: #4e4e62;
	--header-a: #cdcbff;
	--header-a-hover: #ffbad1;
	--header-deblogo-background: #b5b5b5;
	--header-border-right: #9e9e9e;
	--header-border-bottom: #eb0000; /* 666666 */

	/* DARK MODE BUTTON */
	--darkmode-background: #bfbfbf;
	--darkmode-fill: #0000ff;
}


header {
	font-size: 0.95rem;
	background-color: var(--header-background);
	border-bottom: 0.3rem solid var(--header-border-bottom);
}

header ul li {
	list-style: none;
	display: inline-block;
	padding: 0.61em 0.7em;
	border-right: 1px solid var(--header-border-right);
	margin-left: -0.26em;
}

header a {
	color: var(--header-a); /* aea8ff */
	text-decoration: none;
}


header a:hover {
	color: var(--header-a-hover);
}

header img {
	vertical-align: bottom;
}

header li:first-child {
	/* padding: 0.1em 0.1em 0.11em 1.3%; */
	/* padding: 0.04em 0.1em 0.07em 1.5%; */
	padding-left: 2.7%;
	vertical-align: bottom;
	background-color: var(--header-deblogo-background);
}
header li:first-child a{
	color: #000;
	font-weight: 500;
}

header li:hover {
	background-color: var(--header-background-hover);
}

header li:last-child {
	padding: 0.4em 1.6% 0.2em 0.2em;
	float: right;
}

#theme-switch {
	height: 2.2em;
	width: 2.2em;
	padding: 0;
	border-radius: 50%;
	background-color: var(--darkmode-background);
}

#theme-switch svg {
	fill: var(--darkmode-fill);
}

#theme-switch svg:last-child {
	display: none;
}

.darkmode #theme-switch svg:first-child {
	display: none;
}

.darkmode #theme-switch svg:last-child {
	display: block;
}
